:host ::ng-deep .p-autocomplete {
  display: block;
}
:host ::ng-deep .p-autocomplete .p-autocomplete-multiple-container {
  gap: 0.5rem;
}
:host ::ng-deep .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
  background: var(--surface-ground);
  border: 1px solid var(--surface-border);
}
:host ::ng-deep .p-sidebar .p-sidebar-header {
  display: none;
}
:host ::ng-deep .p-sidebar .p-sidebar-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
