@media screen and (max-width: 768px) {
  :host ::ng-deep .fc .fc-toolbar {
    justify-content: center;
  }
  :host ::ng-deep .fc-header-toolbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  :host ::ng-deep .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    width: 100%;
    order: 0;
  }
  :host ::ng-deep .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
    order: 1;
  }
  :host ::ng-deep .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    order: 2;
  }
  :host ::ng-deep .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group .fc-today-button {
    margin-left: 2rem;
  }
}
