<div class="content">
    <div class="grid app-header-add-edit grid-nogutter align-items-center pb-3">
        <div class="col-4">
            <h5 class="component-header mb-0">Crush</h5>
        </div>
        <div class="col-8">
            <div class="grid grid-nogutter justify-content-end">
                <div class="col-fixed">
                    <p-button type="button" label="Back" icon="pi pi-arrow-left" (onClick)="goBack()"
                              styleClass="p-button-secondary mr-1"></p-button>
                </div>
                <div class="col-fixed">
                    <p-button type="submit" label="Save" icon="pi pi-save"></p-button>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="card">-->
<!--        <div class="grid p-fluid">-->
<!--            <div class="col-12 md:col-6">-->
<!--                <p-progressBar [value]="value"></p-progressBar>-->
<!--                <div class="field">-->
<!--                    <div *ngFor="let msg of messages">-->
<!--                        <h3>{{ msg }}</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>
<div class="grid">

    <div class="col-12 xl:col-6">
        <div class="card h-full">
            <div class="flex justify-content-between align-items-center mb-3">
                <div class="field">
                    <div *ngFor="let msg of messages">
                        <h3>{{ msg }}</h3>
                    </div>
                </div>
            </div>
            <div class="graph">
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card">
            <div class="text-center mb-5">
                <p-progressBar [value]="value"></p-progressBar>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-8">
        <div class="card">
            <h5>PickList</h5>
            <p-pickList [source]="sourceCities" [target]="targetCities" sourceHeader="From" targetHeader="To" [dragdrop]="true"
                        [responsive]="true" [sourceStyle]="{'height':'250px'}" [targetStyle]="{'height':'250px'}">
                <ng-template let-city pTemplate="item">
                    <div>{{city.name}}</div>
                </ng-template>
            </p-pickList>
        </div>
    </div>
</div>
